.accordion {
    margin-bottom: 10px;
    width: 100%;
}

.accordion-header {
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.accordion-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.accordion-title h3 {
    margin: 0;
    white-space: nowrap;
    font-size: 1rem;
}

.accordion-line {
    flex: 1;
    height: 2px;
    background: #d9e1ea;
}

.accordion-circle {
    width: 28px;
    height: 28px;

    border-radius: 50%;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.25s;
}

.accordion-circle.open svg {
    transform: rotate(90deg);
}

.accordion-circle svg {
    transition: 0.25s;
}



.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;

    margin-left: 40px;
}

.accordion-content.open {
    max-height: 5000px;
    padding-top: 16px;
}

.required {
    color: red;
    margin-left: 4px;
}

/*CLIENTE*/
.level-0 .accordion-circle {
    background: var(--ubb-azul-principal);
    color: var(--ubb-texto);
}

.level-0 h3 {
    color: var(--ubb-azul-principal);

}

/*FILIAL*/

.level-1 .accordion-circle {
    background: var(--ubb-azul-secundario);
    color: var(--ubb-texto);
}

.level-1 h3 {
    color: var(--ubb-azul-secundario);

}


/*SEDES*/
.level-2 .accordion-circle {
    background: var(--ubb-azul-hover);
    color: var(--ubb-texto);
}

.level-2 h3 {
    color: var(--ubb-azul-hover);

}


/*CONTACTOS*/
.level-3 .accordion-circle {
    background: var(--ubb-azul-terciario);
    color: var(--ubb-texto);
}

.level-3 h3 {
    color: var(--ubb-azul-terciario);


}


.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}