.error_404 {
	height: 98%;
	width: 100%;
	background: linear-gradient(90deg, var(--ubb-azul-principal), #001a33);
	border-radius: 24px;
	/*Color del fondo de la pagina de error (gradiente)*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1%;

	.card {
		background-color: var(--ubb-fondo);
		padding: 6.5vh;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;

		h1 {
			margin: 0;
			font-size: 120px;
			font-weight: bold;
			color: var(--ubb-azul-principal);
		}

		h3 {
			margin: 0;
			font-size: 24px;
			font-weight: lighter;
			color: var(--ubb-azul-principal);
		}

		h4 {
			margin: 0;
			padding-top: 2vh;
			font-size: 14px;
			font-weight: lighter;
			color: var(--ubb-azul-principal);
		}
	}
}