.modal-overlay {

    position: fixed;

    inset: 0;


    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 9999;

}

.modal {

    width: fit-content;
    max-width: 80%;
    padding: 12px;
    max-height: 85vh;

    background: var(--ubb-fondo);

    border-radius: 12px;

    overflow: hidden;

    display: flex;

    flex-direction: column;

    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);

}

.modal-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;


}



.modal-body {
    border-top: 1px solid #dddddd;
    padding: 20px;
    padding-top: 0;
    overflow: auto;

}

.modal-footer {

    display: flex;

    justify-content: flex-end;

    gap: 10px;

    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;

    border-top: 1px solid #eee;

}

.modal-close {

    background-color: #dc2626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    font-size: 1.3rem;

}

.modal-close:hover {
    background-color: #991b1b;
}

.submit-button {
    margin-top: 12px;
    padding: 11px 14px;
    border: none;
    border-radius: 10px;
    background-color: var(--ubb-azul-principal);
    color: var(--ubb-texto);
    font-weight: 600;
    cursor: pointer;
}

.cancel-button {




    margin-top: 12px;
    padding: 11px 14px;
    border: none;
    border-radius: 10px;
    background-color: #dc2626;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #991b1b;
}